.vscode
test.cpp
OpenKattis/test.java
OpenKattis/*/bin
OpenKattis/*/obj
OpenKattis/*/*.lock.json
OpenKattis/*.exe
OpenKattis/*.out
ProjectEuler/*/bin
ProjectEuler/*/obj
ProjectEuler/*/*.lock.json
ProjectEuler/*.exe
ProjectEuler/*.out
TEST/
*.class
*.exe
*.out
*.java
test.js
test.*
test.js
